<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="voxel_size" default="0.1"/>

   <node name="voxblox_node" pkg="voxblox_ros" type="tsdf_server" output="screen" args="-alsologtostderr" clear_params="true">
    <remap from="pointcloud" to="/camera/depth_registered/points"/>
    <param name="tsdf_voxel_size" value="$(arg voxel_size)" />
    <param name="truncation_distance" value="0.5" />
    <param name="color_mode" value="normals" />
    <param name="enable_icp" value="true" />
    <param name="icp_refine_roll_pitch" value="false" />
    <param name="update_mesh_every_n_sec" value="1" />
    <param name="mesh_min_weight" value="2" />
    <param name="method" value="fast" />
    <param name="max_ray_length_m" value="10.0" />
    <param name="use_const_weight" value="true" />
    <param name="world_frame" value="world"/>
    <param name="verbose" value="true" />
    <remap from="transform" to="/orb_slam_2_ros_node/transform_cam" />
    <rosparam file="$(find voxblox_ros)/cfg/realsense_D435i.yaml"/>
    <param name="mesh_filename" value="$(find voxblox_ros)/mesh_results/$(anon basement).ply" />
  </node>
</launch>
